<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DatabaseBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DataBaseBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DBBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseBackup.Properties.Settings>
            <setting name="BackupCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MMMM-yyyy-hh-mm-ss</value>
            </setting>
            <setting name="BackupOnFileSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupOnFileClosed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackupModifiedOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverwriteBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupOnFileOpened" serializeAs="String">
                <value>False</value>
            </setting>
        </DatabaseBackup.Properties.Settings>
        <DataBaseBackup.Properties.Settings>
            <setting name="HistoQty" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MMMM-yyyy-hh-mm-ss</value>
            </setting>
        </DataBaseBackup.Properties.Settings>
        <DBBackup.Properties.Settings>
            <setting name="HistoQty" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
        </DBBackup.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
